<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<!--add below line to your code in order to launch the empty world in gazebo first-->
	
    <include file="$(find gazebo_ros)/launch/empty_world.launch"/>


	<!--just above line!-->
    <!--<param name="robot_description" command="cat '$(find first_simulation)/urdf/m2wr.urdf.xacro'" />-->

    <param name="robot_description" command="$(find xacro)/xacro '$(find first_simulation)/urdf/m2wr.urdf.xacro'"/>
    <arg name="x" default="-2.0"/>
    <arg name="y" default="-0.5"/>
    <arg name="z" default="0.2"/>

    <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-urdf -param robot_description -model m2wr -x $(arg x) -y $(arg y) -z $(arg z)" />

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
		<param name="use_gui" value="False"/>
		</node>
</launch>
